body, html{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    background-image: url("../resources/images/bg_top.png");
    background-size: 100%;
    background-repeat: no-repeat;
}