
footer {
    width: 100wv;
    height: 250px;
    margin-top: 3%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
    background-color: #1D1D29;
}

footer #footer_gradient {
    width: 100%;
    height: 250px;
    display: block;     
    position: absolute;
    bottom: 250px;
    background-image: linear-gradient(to top, #1D1D29, #40405a, #464664, #606088, transparent);
    margin: 0;
    padding-bottom: 5%;
    z-index: -10;
}

footer p{
    color: white;

}