header {
    width: 100%;
    height: 50vh;
    min-height: 130px;
    display: block;
    margin-top: 8vh;
    margin-bottom: 20hv;
} 

#banner {
    height: 70%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(to left, #1e1e2ac3, transparent), linear-gradient(to right, #1e1e2ac3, transparent), url("../resources/images/header_2.png"); 
    margin-top: 0;
    display: inline-flex;
}

#banner_left{
    width: 50%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#banner_left h1 {
    margin: 0;
    position: relative;
    color: white;
    font-family: "Arial Black";
    font-size: 25;
}

#banner_right{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#banner_right h2 {
    margin: 0;
    position: relative;
    color: white;
    font-size: 25;
}

#gradient{
    width: 100%;
    height: 100%;
    background-image: linear-gradient();
}

#buttons {
    width: 100%;
    height: 30%;
    min-height: 30px;
    background-color: #06291C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 19%;
    border: solid 1px white;
    box-sizing: border-box;
}

a #button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#button p {
    display: box;
    color: white;
    font-size: clamp(12px, 1.5vw, 2vw);
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: visible;
}

@media (max-width: 600px) {
    header {
        height: 30vh;
    }

    #banner h1 {
        font-size: 15vh;
    }
}