#office_display {
    height: 350px;
    width: 100%;
    background-color: #1e1e2ae6;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

#office_view {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#office_view img {
    width: auto;
    height: 90%;
}

#schedule {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 20px;
}

#schedule div {
    height: 90%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(145, 145, 145);
}

#schedule div:hover{
    background-color: rgb(126, 125, 125);
    cursor: pointer;
}

#schedule h3 {
    color: white;
    font-size: 27px;
}

#schedule p {
    color: white;
    display: block;
    font-size: 22px;
}

iframe {
    height: 90%;
    aspect-ratio: 1;
}