main {
    width: 85vw;
    height: 400px;
    background-color: #0d5e3f;
    padding: 0%;
    margin-top: 0.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
}

main p{
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
}